html, body {
	margin:0;
	color: #FFF;
	background: #1A0000;
	font-family: monospace;
}

.wrapper {
	margin:auto;
	max-width: 500px;
}

.wrapper div {
	margin-top:0px;
	margin-bottom:15px;
	width:-webkit-fill-available;
}

.wrapper p {
	margin-top:0px;
	margin-bottom:5px;
}

.header h2 {
	margin-top:5px;
	margin-bottom:5px;
}

.header a {
	color: #58287F; 
	transition: all, 0.5s;
}

.header a:hover {
	color: #F5EDCE;
}

.btn {
	border:none;
	border-radius:5px;
	padding:5px;
	min-width:50px;
	text-align:center;
	background:#F5EDCE; 
	font-family:inherit;
	transition: all, 0.5s;
}

.btn:hover {
	background:#89C4E1;
}

.recorder, .player {
	margin-bottom:10px;
}

.transcript {
	border: 1px solid;
	border-radius:5px;
	color: inherit;
	padding: 10px;
	font-family:inherit;
}

@media only screen and (max-width: 600px) {
	.wrapper {
		width: 90vw;	
	}
}





