<!DOCTYPE html>
<html lang="en">
<head>
    <title>Speech to text</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <div class="wrapper">
        <div class="header"><h1>Speech to text</h1></div>
        <div class="design">
            <div class="recorder">
                <button class="btn" id="record">Start</button>
                <button class="btn" id="stop">Stop</button>
            </div>
            <div class="player">
                <audio controls id="raudio"></audio>
                <input type="file" id="rupload" name="audiof"/>
            </div>
        </div>
        <div class="transcript"></div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='audio.js') }}">
    </script>
</body>
</html>
