<!DOCTYPE html>
<html lang="en">
<head>
    <title>Speech to text</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}"/>
</head>
<body>
    <div class="wrapper">
        <div class="header"><h1>Speech to text</h1></div>
        <div class="design">..</div>
        <div class="transcript"></div>
    </div>
    <script type='text/javascript'>
        const handleSuccess = function(stream) {
            const options = {mimeType: 'audio/webm'};
            const recordedChunks = [];
            const mediaRecorder = new MediaRecorder(stream, options);

            mediaRecorder.addEventListener('dataavailable', function(e) {
              if (e.data.size > 0) recordedChunks.push(e.data);
            });

            mediaRecorder.addEventListener('stop', function() {
              downloadLink.href = URL.createObjectURL(new Blob(recordedChunks));
              downloadLink.download = 'acetest.wav';
            });

            stopButton.addEventListener('click', function() {
              mediaRecorder.stop();
            });

            mediaRecorder.start();
          };

          navigator.mediaDevices.getUserMedia({ audio: true, video: false })
              .then(handleSuccess);
    </script>
</body>
</html>
